body {
	font-family: Arial, sans-serif;
	background-color: #f2f3f4;
    padding: 20px;
    margin: 0;
}

ul {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;

}

a {
	color: #6a80e2;
}

a:hover {
	color: #28b463;
}

ellipse:hover {
	fill: lightpink;
}

ellipse:active {
 	fill: mediumpurple;
 }

 circle:hover{
 	fill: lightpink;
 }

 circle:active{
 	fill: mediumpurple;
}

polygon:hover{
	fill:limegreen;
}

polygon:active{
	fill: darkseagreen;
}

text:hover{
	fill:lightblue;
}

text:active{
	fill: darkkhaki;
}
